.mini-cont{
    max-width: 1400px;
    padding: 30px 20px;
    display: block;
    margin: auto; 
}
.diag{
    width: auto;
    height: 400px;
    margin: auto;
    display: block;
}
#myChart{
    width: 400px;
    height: 300px;
}